@using ShenNiu.LogTool.Controllers
@using System.IO
@model MoFile
@{
    ViewData["Title"] = $"{Model.Path}";
}
<style type="text/css">
    pre {
        word-break: break-all;
        word-wrap: break-word;
        font-size: 16px;
        word-wrap: break-word;
        white-space: pre-wrap;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <h4>
            名称：@Model.Name <br />
            路径：@ViewData["Title"]   <a href="@($"/temp{Model.Url}")" target="_blank">下载原文件</a>
        </h4>
        <hr />

        @if(!string.IsNullOrWhiteSpace(Model.Content)){
            <pre>
                @Model.Content
              </pre>
<br />
             }
   
        <a href="@($"/temp{Model.Url}")" target="_blank">下载原文件</a>
        <div style="color:red">@ViewData["msg"]</div>
    </div>
</div>